html {
  overflow: hidden;
  touch-action: none;
  content-zooming: none;
  font-family: 'Rubik', sans-serif;
}

body {
  overflow: scroll;
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #6e6e6e;
}

.privacy-policy {
  background: #ffffff;
}

#screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.hero {
  background: -webkit-gradient(linear,left bottom,left top,from(#ff9f1c),to(#e71a8c));
  background: linear-gradient(0deg,#ff9f1c,#e71a8c);
  background-size: 400% 400%;
  -webkit-animation: YogaHero 18s ease infinite;
  animation: YogaHero 18s ease infinite;
  color: #FFFFFF;
  padding: 150px 30px 10px;
}

.hero h1 {
  vertical-align: bottom;
  display: inline-block;
}

#body {
  padding: 30px;
  min-height: 100vh;
  opacity: 0;
  transition: opacity .3s ease;
}

#body.body-loaded {
  opacity: 1;
}


.wrapper {
  max-width: 700px;
  padding: 10% 100px 0 15%;
}

@media only screen and (max-width: 700px) {
	.wrapper {
		padding: 100px 60px 60px 60px;
	}
}

.logo {
  z-index: 1;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 40px;
  padding: 25px 0;
}

@media only screen and (max-width: 600px) {
  .link {
    font-size: 25px;
  }
}

a:hover,
a:focus {
  color: #EAEAEA;
  transition: color .3s ease;
}

canvas {
  z-index: -1;
}

.cookie-notice {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.6);
  color: #FFFFFF;
  padding: 20px;
  justify-content: space-between;
  box-sizing: border-box;
}

.privacy-policy .cookie-notice {
  top: auto;
  bottom: 0;
}

.cookie-notice__button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 1rem;
}

.cookie-notice p {
  margin: 0;
}

.cookie-notice a {
  color: #FFFFFF;
}

.cookie-notice a:hover,
.cookie-notice a:focus {
  color: #EAEAEA;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@keyframes YogaHero {
  0% {
    background-position: 50% 0;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0;
  }
}