html {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5  {
  font-family: 'Rubik', sans-serif;
}

body {
  background-image: url("/assets/images/background.svg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center -150px;
  margin: 0;
  color: #6e6e6e;
}

.privacy-policy {
  background: #ffffff;
}

.privacy-policy #body a {
  color: #70C157;
}

.hero {
  background: -webkit-gradient(linear,left bottom,left top,from(#70C157),to(#FFE05D));
  background: linear-gradient(0deg,#70C157,#FFE05D);
  background-size: 400% 400%;
  -webkit-animation: YogaHero 18s ease infinite;
  animation: YogaHero 18s ease infinite;
  color: #FFFFFF;
  padding: 30px;
}

.hero-link {
  vertical-align: top;
  color: #FFFFFF;
  text-decoration: none;
}

.hero-title {
  margin: 100px 0 0;
  vertical-align: bottom;
}

#body {
  padding: 30px;
  opacity: 0;
  transition: opacity .3s ease;
}

#body.body-loaded {
  opacity: 1;
}


.wrapper {
  padding: 0 15px;
  max-width: 845px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  z-index: 1;
  width:100%;
  max-width: 400px;
  margin-bottom: 15px;
  margin-top: auto;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}

.link-list li {
  margin: 20px 0;
}

.link {
  text-decoration: none;
  font-size: 25px;
  color: #6e6e6e;
  font-family: 'Rubik', sans-serif;
  padding: 25px 0;
}

a.link:hover,
a.link:focus {
  text-decoration: underline;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.cookie-notice {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.6);
  color: #FFFFFF;
  padding: 20px;
  justify-content: space-between;
  box-sizing: border-box;
}

.cookie-notice__button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 1rem;
}

.cookie-notice p {
  margin: 0;
}

.cookie-notice a {
  color: #FFFFFF;
}

.cookie-notice a:hover,
.cookie-notice a:focus {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media only screen and (min-width: 700px) {
  .wrapper {
    margin: 150px auto 0;
    height: auto;
  }

  .logo {
    max-width: 520px;
    margin-top: 0;
  }

  .link {
    font-size: 40px;
  }

  .link-list {
    margin: 0;
  }
}

::selection {
  background: #70C157;
  color: #FFFFFF;
}

::-moz-selection {
  background: #70C157;
  color: #FFFFFF;
}

@font-face {
  font-family: 'icomoon';
  src:  url('https://s3.us-east-2.amazonaws.com/neetamadahar-yoga.com/fonts/icomoon.eot?2zlulw');
  src:  url('https://s3.us-east-2.amazonaws.com/neetamadahar-yoga.com/fonts/icomoon.eot?2zlulw#iefix') format('embedded-opentype'),
  url('https://s3.us-east-2.amazonaws.com/neetamadahar-yoga.com/fonts/icomoon.ttf?2zlulw') format('truetype'),
  url('https://s3.us-east-2.amazonaws.com/neetamadahar-yoga.com/fonts/icomoon.woff?2zlulw') format('woff'),
  url('https://s3.us-east-2.amazonaws.com/neetamadahar-yoga.com/fonts/icomoon.svg?2zlulw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron {
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #fff;
}

.icon-chevron:before {
  content: "\e902";
}

@keyframes YogaHero {
  0% {
    background-position: 50% 0;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0;
  }
}